<div class="app-card-container">
  <div class="card" style= "background-color: #d6d6dd; border-radius: 200px">
    <h1>Get to know me.</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%=image_tag "profile.png", width: 300, alt: "profile image", class: 'profile-img' %>
      </div>

      <div class="col-md-8">
        <p>I'm the girl who memorized the creaky floorboards so I could avoid them on my way to read midnight coding tutorials. My 12 year old fingers danced ever so lightly across the keys of an early 2000s HP - careful not to wake the grumpy bear upstairs. The result? A consistently ~perfect~ MySpace layout. And of course, the envy of all my groupies.
        <br>
        <br>
        Some years later and those late nights have become full days. I'm excited to incorporate my pre-teen MySpace passion with my experience in marketing, content creation, and finance as I transition into the abundant world of development.

        <br>
        <br>
        I'm Chaney. I love turning words into functionality and #{symbols} into design.
        </p>
        <p>

          <button
            class="btn btn-success"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controller="jobHistory"
          >
            Job History
          </button>
          <button
            class="btn btn-success"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controller="education"
          >
            Education
          </button>
          <button
            class="btn btn-secondary"
            type="button"
            data-toggle="collapse"
            data-target="#coolfact"
            aria-expanded="false"
            aria-controller="coolfact"
          >
            Unrelated Cool Factor
          </button>
        </p>

        <p>
          <div class="collapse" id="jobHistory">
            <div class"card card-block">
              Media Content Manager • <em>JT Marketing & Consulting</em>
            </div>

            <div class"card card-block">
              Financial Services Tax & Retirement Professional • <em>E*TRADE Financial</em>
            </div>

            <div class"card card-block">
              Teller • <em>Wells Fargo Bank</em>
            </div>

            <div class"card card-block">
              Personal Assistant to the VP • <em>Ideal Living Management</em>
            </div>

          </div>

            <div class="collapse" id="education">
            <div class"card card-block">
              Bottega Technical Institute • <em>Full Stack Web Development</em>
            </div>

            <div class"card card-block">
              BYU ID • <em>Online BS Software Engineering: In Progress</em>
            </div>
          </div>

          <div class="collapse" id="coolfact">
            <div class"card card-block">
              NCAA Certified • <em>Basketball Official</em>
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>