<div class="app-card-container">
  <div class="card" style= "background-color: #d6d6dd; border-radius: 200px",>
    <h1>Let's talk.</h1>

    <hr>
    <div class = "row">
      <div class="col-md-6">
        <h4>Current location</h4>
        <p>Provo, Utah</p>
        <h4>Call me</h4>
        <p><%= number_to_phone "(661) 210 • 9815" %></p>
        <h4>Email me</h4>
        <p><a href="mailto:chaneyventura@gmail.com?subject=PortfolioContact" "email me">Email</a> </p>
      </div>

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d97434.36495375661!2d-111.70911839152761!3d40.25744469213402!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d9271930bf1bf%3A0x1d90f12600b556ef!2sProvo%2C+UT!5e0!3m2!1sen!2sus!4v1485283581147" width="450" height="250" frameborder="0" style="border-radius: 50px" allowfullscreen></iframe>
      </div class="col-md-6">
      </div>
    </div>
  </div>
</div>