<div class="inner cover">
  <h1 class="cover-heading">Design | Develop | Create</h1>
  <p class="lead">Developer • ISTJ • Pebble ice enthusiast</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-outline-secondary" %>
  </p>
</div>


