<div class="inner cover">
  <h1 class="cover-heading">Design | Develop | Create</h1>
  <p class="lead">Developer • ISTJ • Pebble ice enthusiast</p>
    <p>
    <h2>
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
    <i class="devicon-ruby-plain"></i>
    <i class="devicon-rails-plain"></i>
    <i class="devicon-html5-plain"></i>
    <i class="devicon-css3-plain"></i>
    <i class="devicon-javascript-plain"></i>
    <i class="devicon-angularjs-plain"></i>
    <i class="devicon-postgresql-plain"></i>
    <i class="devicon-git-plain"></i>
    <i class="devicon-bootstrap-plain"></i>
    <i class="devicon-wordpress-plain"></i>
    <i class="devicon-heroku-plain"></i>
    </h3>

  </p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-outline-secondary" %>
  </p>

</div>


